@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@font-face {
  font-family: Kepler;
  src: url("../fonts/Kepler-Std-Display_26108.eot");
  src: url("../fonts/Kepler-Std-Display_26108.eot?#iefix") format("embedded-opentype"), url("../fonts/Kepler-Std-Display_26108.woff") format("woff"), url("../fonts/Kepler-Std-Display_26108.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  font-family: "Kepler";
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4;
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal;
  text-align: center;
  font-family: "Lora", serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 24px;
}

.button {
  background: #0c0c0c;
  border-radius: 0px;
  font-family: "Kepler";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 25px;
  text-decoration: none;
  text-align: center;
  border: none;
  display: inline-block;
  -webkit-appearance: none;
}

.button:hover {
  opacity: 0.9;
  color: #fff;
}

input[type=text], input[type=email], input[type=tel], input[type=search], input[type=password], input[type=date], input[type=url], textarea {
  width: 270px;
  height: 64px;
  box-sizing: border-box;
  padding: 0 20px;
  color: #0c0c0c;
  font-size: 18px;
  font-family: "Kepler";
  border: 1px solid #cecece;
  resize: none;
}

input[type=text].red_input, input[type=email].red_input, input[type=tel].red_input, input[type=search].red_input, input[type=password].red_input, input[type=date].red_input, input[type=url].red_input, textarea.red_input {
  box-shadow: 0 0 2px #ff2d50;
  background: #fdc4ce;
}

input::-webkit-input-placeholder {
  color: inherit;
}

input:-moz-placeholder {
  color: inherit;
}

textarea {
  height: 90px;
  padding: 20px;
}

.modal {
  display: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.float_left {
  float: left !important;
}

.float_right {
  float: right !important;
}

.float_none {
  float: none !important;
}

.text_right {
  text-align: right !important;
}

.text_center {
  text-align: center !important;
}

.text_left {
  text-align: left !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.fixed {
  position: fixed !important;
}

.background_none {
  background: none !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

/*----------header----------*/
.header {
  position: relative;
  overflow: hidden;
  padding-top: 190px;
  padding-bottom: 135px;
}

.head_top {
  background: #0c0c0c;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 18px rgba(0, 0, 1, 0.56);
}

.head_top .navbar-default {
  background: none;
  border-radius: 0;
  border: none;
}

.head_top .navbar {
  float: right;
}

.head_top .nav {
  text-align: right;
}

.head_top .nav li {
  margin: 19px 0 0 0;
  padding: 0 10px;
  border-left: 1px solid #fff;
  height: 33px;
}

.head_top .nav a {
  color: #fff;
  font-size: 19px;
  height: 33px;
  padding: 0 30px;
  display: block;
  line-height: 33px;
  text-decoration: none;
}

.head_top .nav a:hover, .head_top .nav a:focus, .head_top .nav a:active {
  background: none;
}

.head_top .nav .open > a, .head_top .nav .open > a:focus, .head_top .nav .open > a:hover {
  background: none;
}

.head_top .dropdown-menu {
  background-color: #ededed;
  border-radius: 0;
  border: none;
  margin-top: 27px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 1, 0.26);
}

.head_top .dropdown-menu li {
  margin: 0;
  padding: 0 15px;
  height: auto;
  border-left: none;
}

.head_top .dropdown-menu li:first-child a {
  border-top: none;
}

.head_top .dropdown-menu li a {
  padding: 15px 0;
  height: auto;
  border-top: 1px solid #d4d4d4;
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #000;
}

.search {
  display: inline-block;
  width: 110px;
  padding: 5px 0 0 20px;
  position: relative;
  overflow: hidden;
}

.search input {
  background: url(../img/search.png) no-repeat right center;
  border: none;
  color: #fff;
  font-size: 19px;
  width: 90px;
  padding: 0 22px 0 0;
  height: auto;
}

.logo {
  margin: 25px 0 0 0;
  display: block;
}

.show_mobile {
  display: none;
}

/*----------end-header----------*/
/*----------main----------*/
.main {
  position: relative;
  overflow: hidden;
}

.photos_wrap {
  position: relative;
  padding-bottom: 50px;
}

.photos_wrap .button {
  margin-top: 30px;
}

.photo_block {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.photo_block > img {
  display: block;
}

.photo_block.photo_block_about {
  background: #f5f5f5;
  text-align: center;
  box-shadow: 0 6px 10px rgba(0, 0, 1, 0.09);
  padding: 60px 38px;
  color: #0c0c0c;
  font-size: 18px;
  line-height: 33px;
}

.photo_block.photo_block_about img {
  display: inline-block;
  margin-bottom: 35px;
}

.photo_block.photo_block_about h2 {
  padding-bottom: 20px;
  font-size: 29px;
  font-family: "Lora", serif;
}

.photo_block_desc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
}

.photo_block_desc h5 {
  font-size: 37px;
}

.photo_block_desc p {
  font-family: "Lora", serif;
  font-size: 17px;
  padding-bottom: 15px;
}

.photo_block_desc section {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.gallery img {
  display: block;
  box-shadow: 0 3px 5px rgba(0, 0, 1, 0.17);
}

.content_txt {
  width: 867px;
  margin: 0 auto;
  color: #0c0c0c;
  font-family: "Lora", serif;
}

.content_txt h1 {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 54px;
  padding-bottom: 45px;
}

.content_txt p {
  padding: 30px 0 0 0;
  line-height: 31px;
  font-size: 15px;
}

.date {
  text-align: center;
  font-size: 16px;
  padding-bottom: 19px;
  font-family: "Lora", serif;
}

.pager {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  border-top: 1px solid #0c0c0c;
  border-bottom: 1px solid #0c0c0c;
}

.form {
  padding: 45px 0 70px 0;
}

.form_line {
  position: relative;
  overflow: hidden;
  padding-bottom: 28px;
  font-size: 0;
}

.form_line > div {
  padding: 0 30px 0 0;
  display: inline-block;
}

.form_line > div:last-child {
  padding: 0;
}

.form_line input {
  vertical-align: top;
  font-family: "Lora", serif;
}

.form_line input.kapha {
  width: 145px;
}

.form_line textarea {
  width: 100%;
  height: 190px;
}

.form_line label {
  vertical-align: top;
  height: 64px;
  box-sizing: border-box;
  text-align: center;
  line-height: 64px;
  display: inline-block;
  width: 120px;
  color: #0c0c0c;
  font-size: 18px;
  font-weight: normal;
  font-family: "Lora", serif;
  border: 1px solid #cecece;
}

.form_line.button {
  font-family: "Kepler";
}

.page_txt {
  color: #0c0c0c;
  font-family: "Lora", serif;
  font-size: 15px;
  line-height: 27px;
  padding: 0 0 75px 0;
}

.page_txt h1 {
  font-size: 42px;
  padding-bottom: 55px;
}

.page_txt p {
  padding-bottom: 15px;
}

/*----------end main----------*/
/*----------footer----------*/
.footer {
  position: relative;
  overflow: hidden;
  padding: 45px 0 15px 0;
}

.footer address {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #000;
  font-style: normal;
  font-family: "Lora", serif;
}

.social {
  padding-bottom: 40px;
}

/*----------end footer----------*/
@media only screen and (max-width: 1000px) {
  .logo_big img {
    width: 100%;
  }
  .head_top .nav a {
    padding: 0;
  }
  .photos_wrap .photo_block {
    display: inline-block;
  }
  .gallery img {
    width: 100%;
  }
  .social img {
    max-width: 100%;
  }
  .content_txt {
    width: 100%;
  }
  .content_txt img {
    max-width: 100%;
  }
  .form_line > div {
    display: block;
    padding: 0 0 20px 0;
  }
  .form_line > div input {
    width: 100%;
  }
  .form_line > div:last-child {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .head_top .navbar {
    margin-top: -37px;
  }
  .navbar-toggle .icon-bar {
    background: #fff;
  }
  .head_top {
    height: auto;
  }
  .head_top .navbar-toggle {
    float: right;
  }
  .head_top .navbar-collapse {
    clear: both;
    width: 100%;
    text-align: center;
    border: none;
    box-shadow: none;
  }
  .head_top .nav li {
    border: none;
    height: auto;
  }
  .head_top .nav li .search {
    display: none;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .head_top .dropdown-menu {
    margin-top: 0 !important;
  }
  .show_mobile {
    display: block;
  }
  .search {
    padding: 12px 25px 0 0;
  }
  .head_top .dropdown-menu li {
    padding: 0;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 0;
    text-align: right;
    display: block;
  }
  .navbar-toggle {
    margin-right: 0;
  }
}

@media only screen and (max-width: 760px) {
  .photos_wrap .photo_block {
    width: 100%;
  }
  .photos_wrap .photo_block img {
    width: 100%;
  }
  .gallery img {
    margin-bottom: 10px;
  }
  .search input {
    width: 22px;
    float: right;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }
  .search input.active {
    width: 86px;
  }
  .header {
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .content_txt h1, .content_txt h2, .page_txt h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .logo img {
    width: 110px;
  }
  .search {
    padding-right: 9px;
  }
  .navbar {
    margin-bottom: 5px;
  }
  .button {
    font-size: 16px;
  }
}
