@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@font-face {
  font-family: Kepler;
  src: url("../fonts/Kepler-Std-Display_26108.eot");
  src: url("../fonts/Kepler-Std-Display_26108.eot?#iefix") format("embedded-opentype"), url("../fonts/Kepler-Std-Display_26108.woff") format("woff"), url("../fonts/Kepler-Std-Display_26108.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  font-family: "Kepler";
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4;
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.button {
  background: #0c0c0c;
  border-radius: 0px;
  font-family: "Kepler";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 25px;
  text-decoration: none;
  text-align: center;
  border: none;
  display: inline-block;
  -webkit-appearance: none;
}

.button:hover {
  opacity: 0.9;
  color: #fff;
}

input[type=text], input[type=email], input[type=tel], input[type=search], input[type=password], input[type=date], input[type=url], textarea {
  width: 300px;
  height: 25px;
  box-sizing: border-box;
  padding: 0 5px;
  color: #000;
  font-size: 14px;
  font-family: "Kepler";
  border: 1px solid #000;
  border-radius: 3px;
  resize: none;
}

input[type=text].red_input, input[type=email].red_input, input[type=tel].red_input, input[type=search].red_input, input[type=password].red_input, input[type=date].red_input, input[type=url].red_input, textarea.red_input {
  box-shadow: 0 0 2px #ff2d50;
  background: #fdc4ce;
}

input::-webkit-input-placeholder {
  color: inherit;
}

input:-moz-placeholder {
  color: inherit;
}

textarea {
  height: 90px;
  padding-top: 5px;
}

.modal {
  display: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.float_left {
  float: left !important;
}

.float_right {
  float: right !important;
}

.float_none {
  float: none !important;
}

.text_right {
  text-align: right !important;
}

.text_center {
  text-align: center !important;
}

.text_left {
  text-align: left !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.fixed {
  position: fixed !important;
}

.background_none {
  background: none !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

/*----------header----------*/
.header {
  position: relative;
  overflow: hidden;
  padding-top: 190px;
  padding-bottom: 135px;
}

.head_top {
  background: #0c0c0c;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 18px rgba(0, 0, 1, 0.56);
}

.head_top .navbar-default {
  background: none;
  border-radius: 0;
  border: none;
}

.head_top .navbar {
  float: right;
}

.head_top .nav {
  text-align: right;
}

.head_top .nav li {
  margin: 19px 0 0 0;
  padding: 0 10px;
  border-left: 1px solid #fff;
  height: 33px;
}

.head_top .nav a {
  color: #fff;
  font-size: 19px;
  height: 33px;
  padding: 0 30px;
  display: block;
  line-height: 33px;
  text-decoration: none;
}

.head_top .nav a:hover, .head_top .nav a:focus, .head_top .nav a:active {
  background: none;
}

.head_top .nav .open > a, .head_top .nav .open > a:focus, .head_top .nav .open > a:hover {
  background: none;
}

.head_top .dropdown-menu {
  background-color: #ededed;
  border-radius: 0;
  border: none;
  margin-top: 27px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 1, 0.26);
}

.head_top .dropdown-menu li {
  margin: 0;
  padding: 0 15px;
  height: auto;
  border-left: none;
}

.head_top .dropdown-menu li:first-child a {
  border-top: none;
}

.head_top .dropdown-menu li a {
  padding: 15px 0;
  height: auto;
  border-top: 1px solid #d4d4d4;
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #000;
}

.search {
  display: inline-block;
  width: 110px;
  padding: 5px 0 0 20px;
  position: relative;
  overflow: hidden;
}

.search input {
  background: url(../img/search.png) no-repeat right center;
  border: none;
  color: #fff;
  font-size: 19px;
  width: 90px;
  padding: 0 22px 0 0;
}

.logo {
  margin: 25px 0 0 0;
  display: block;
}

/*----------end-header----------*/
/*----------main----------*/
.main {
  position: relative;
  overflow: hidden;
}

.photos_wrap {
  position: relative;
  padding-bottom: 50px;
}

.photos_wrap .button {
  margin-top: 30px;
}

.photo_block {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.photo_block > img {
  display: block;
}

.photo_block.photo_block_about {
  background: #f5f5f5;
  text-align: center;
  box-shadow: 0 6px 10px rgba(0, 0, 1, 0.09);
  padding: 60px 38px;
  color: #0c0c0c;
  font-size: 18px;
  line-height: 33px;
}

.photo_block.photo_block_about img {
  display: inline-block;
  margin-bottom: 35px;
}

.photo_block.photo_block_about h2 {
  padding-bottom: 20px;
  font-size: 29px;
  font-family: "Lora", serif;
}

.photo_block_desc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
}

.photo_block_desc h5 {
  font-size: 37px;
}

.photo_block_desc p {
  font-family: "Lora", serif;
  font-size: 17px;
  padding-bottom: 15px;
}

.photo_block_desc section {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.gallery img {
  display: block;
  box-shadow: 0 3px 5px rgba(0, 0, 1, 0.17);
}

/*----------end main----------*/
/*----------footer----------*/
.footer {
  position: relative;
  overflow: hidden;
  padding: 45px 0 15px 0;
}

.footer address {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #000;
  font-style: normal;
  font-family: "Lora", serif;
}

.social {
  padding-bottom: 40px;
}

/*----------end footer----------*/
