// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	@include povh('');
	padding-top: 190px;
	padding-bottom: 135px;
	.container{
		//background:red;
	}
 }
	.head_top{
		background:#0c0c0c;
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		width: 100%;
		height: 80px;
		box-shadow: 0 2px 18px rgba(0,0,1,.56);
		.navbar-default{
			background: none;
			border-radius: 0;
			border: none;
		}
		.navbar{
			float: right;
		}
		.nav{
			text-align: right;		
			li{
				margin: 19px 0 0 0;
				padding: 0 10px;
				border-left: 1px solid #fff;
				height: 33px;
			}
			a{
				color: #fff;
				font-size: 19px;
				height: 33px;
				padding: 0 30px;
				display: block;
				line-height: 33px;
				text-decoration: none;
				&:hover, &:focus, &:active{
					background: none;
				}
			}

		}
		.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
			background: none;
		}
		.dropdown-menu{
			background-color: #ededed;
			border-radius: 0;
			border: none;
			margin-top: 27px !important;
			box-shadow: 0 2px 5px rgba(0,0,1,.26);
			li {
				margin: 0;
				padding: 0 15px;
				height: auto;
				border-left: none;
				&:first-child{
					a{
						border-top: none;
					}
				}
				a{
					padding: 15px 0;
					height: auto;
					border-top: 1px solid #d4d4d4;
					display: block;
					font-size: 14px;
					line-height: 1;
					color: #000;
				}
			}
		}
	}
		.search{
			display: inline-block;
			width: 110px;
			padding: 5px 0 0 20px;
			@include povh('');
			input{
				background: url(../img/search.png) no-repeat right center;
				border: none;
				color: #fff;
				font-size: 19px;
				width: 90px;
				padding: 0 22px 0 0;
				height: auto;
			}
		}
		.logo{
			margin: 25px 0 0 0;
			display: block;
		}
		.show_mobile{
			display: none;
		}

	
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }
	
	.photos_wrap{
		position: relative;
		padding-bottom: 50px;
		.button{
			margin-top: 30px;
		}
	}
		.photo_block{
			@include povh('');
			margin-bottom: 20px;
			& > img{
				display: block;
			}
			&.photo_block_about{
				background:#f5f5f5;
				text-align: center;
				box-shadow: 0 6px 10px rgba(0,0,1,.09);
				padding: 60px 38px;
				color: #0c0c0c;
				font-size: 18px;
				line-height: 33px;
				img{
					display: inline-block;
					margin-bottom: 35px;
				}
				h2{
					padding-bottom: 20px;
					font-size: 29px;
					font-family: $fontfamily;
				}
			}
		}	
			.photo_block_desc{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background:rgba(0,0,0,0.4);
				text-align: center;
				color: #fff;
				h5{
					font-size: 37px;
				}
				p{
					font-family: $fontfamily;
					font-size: 17px;
					padding-bottom: 15px;
				}
				section{
					position:absolute;
				  	top: 50%;
				  	width: 100%;
					transform: translateY(-50%);
				}
			}

	.gallery{
		img{
			display: block;
			box-shadow: 0 3px 5px rgba(0,0,1,.17);
		}
	}

	.content_txt{
		width: 867px;
		margin: 0 auto;
		color: #0c0c0c;
		font-family: $fontfamily;
		h1{
			text-align: center;
			font-family: $fontfamily;
			font-size: 54px;
			padding-bottom: 45px;
		}
		p{
			padding: 30px 0 0 0;
			line-height: 31px;
			font-size: 15px;
		}
	}
		.date{
			text-align: center;
			font-size: 16px;
			padding-bottom: 19px;
			font-family: $fontfamily;
		}
		.pager{
			@include povh('');
			padding:20px 0;
			border-top: 1px solid #0c0c0c;
			border-bottom: 1px solid #0c0c0c;
		}

		.form{
			padding: 45px 0 70px 0 ;
		}
			.form_line{
				@include povh('');
				padding-bottom: 28px;
				font-size: 0;
				& > div{
					padding: 0 30px 0 0;
					display: inline-block;
					&:last-child{
						padding: 0;
					}
				}
				input{
					vertical-align: top;
					font-family: $fontfamily;
					&.kapha{
						width: 145px;
						
					}
				}
				textarea{
					width: 100%;
					height: 190px;
				}
				label{
				  vertical-align: top;
				  height: 64px;
				  box-sizing: border-box;
				  text-align: center;
				  line-height: 64px;
				  display: inline-block;
				  width: 120px;
				  color: #0c0c0c;
				  font-size: 18px;
				  font-weight: normal;
				  font-family: $fontfamily;
				  border: 1px solid #cecece;
				}
				&.button{
					font-family: $ffamily;
				}
			}

	.page_txt{
		color: #0c0c0c;
		font-family: $fontfamily;
		font-size: 15px;
		line-height: 27px;
		padding: 0 0 75px 0;
		h1{
			font-size: 42px;
			padding-bottom: 55px
		}
		p{
			padding-bottom: 15px;
		}
	}		
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	padding: 45px 0 15px 0 ;
	address{
		display: block;
		text-align: center;
		font-size: 18px;
		color: #000;
		font-style: normal;
		font-family: $fontfamily;
	}
 }
 	.social{
 		padding-bottom: 40px;
 	}

/*----------end footer----------*/