// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	@include povh('');
	padding-top: 130px;
	padding-bottom: 70px;
	.container{
		//background:red;
	}
 }
	.head_top{
		background:#0c0c0c;
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		width: 100%;
		height: 70px;
		box-shadow: 0 2px 18px rgba(0,0,1,.56);
		.navbar-default{
			background: none;
			border-radius: 0;
			border: none;
		}
		.navbar{
			float: right;
		}
		.nav{
			text-align: right;		
			li{
				margin: 16px 0 0 0;
				padding: 0 10px;
				border-left: 1px solid #fff;
				height: 33px;
			}
			a{
				color: #fff;
				font-size: 19px;
				height: 33px;
				padding: 0 30px;
				display: block;
				line-height: 33px;
				text-decoration: none;
				&:hover, &:focus, &:active{
					background: none;
				}
			}

		}
		.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
			background: none;
		}
		.has-regularmenu:hover{
			.dropdown-menu{
				display: block;
			}
			.under_menu{
				display: block;
			}
		}
		.dropdown-menu{
			background-color: #ededed;
			border-radius: 0;
			border: none;
			margin-top: 0 !important;
			box-shadow: 0 2px 5px rgba(0,0,1,.26);
			li {
				margin: 0;
				padding: 0 15px;
				height: auto;
				border-left: none;
				&:first-child{
					a{
						border-top: none;
					}
				}
				a{
					padding: 15px 0;
					height: auto;
					border-top: 1px solid #d4d4d4;
					display: block;
					font-size: 14px;
					line-height: 1;
					color: #000;
				}
			}
		}
	}	
	.under_menu{
		display: none;
		padding: 27px 0 0 0;
		position: relative;
	}

		.search{
			display: inline-block;
			width: 110px;
			padding: 5px 0 0 20px;
			@include povh('');
			input{
				background: url(../img/search.png) no-repeat right center;
				border: none;
				color: #fff;
				font-size: 19px;
				width: 90px;
				padding: 0 22px 0 0;
				height: auto;
			}
		}
		.logo{
			margin: 20px 0 0 0;
			display: block;
			text-decoration: none;
			font-size: 30px;
			color: #fff;
			font-family: $fontfamily;
			text-transform: uppercase;
			line-height: 1;
			&:hover, &:active, &:focus, &:visited{
				color: #fff;
				text-decoration: none;
			}
		}
		.show_mobile{
			display: none;
		}

	@include mq($min-width: 1000px) {
		.head_top .navbar{
			position: relative;
			left: 35px
		}
	}
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
	ul{
		list-style-type: disc;
		list-style-position: inside;
	}
	ol{
		list-style-type: decimal;
		list-style-position: inside;
	}
 }
 	#sb_instagram .sb_instagram_header{
 		display: none;
 	}
	
	.photos_wrap{
		position: relative;
		padding-bottom: 50px;
		.button{
			margin-top: 30px;
		}
	}
		.photos_col{
			column-count: 3;
			
		}
		.photo_block{
			@include povh('');
			width: 369px;
			margin-bottom: 20px;
			display: inline-block;
			@include transition(all 0.5s);
			& > img{
				display: block;
				@include transition(all 0.5s);
			}
			&:hover{
				img{
					-webkit-filter: blur(5px);
  					filter: blur(5px);
				}
				.photo_block_desc{
					opacity: 1;
				}
			}
			&.photo_block_about{
				background:#f5f5f5;
				text-align: center;
				box-shadow: 0 6px 10px rgba(0,0,1,.09);
				padding: 60px 38px;
				color: #0c0c0c;
				font-size: 18px;
				line-height: 33px;
				img{
					display: inline-block;
					margin-bottom: 35px;
					filter: blur(0px);
				}
				h2{
					padding-bottom: 20px;
					font-size: 29px;
					font-family: $fontfamily;
				}
				&:hover{
					img{
						-webkit-filter: blur(0px);
	  					filter: blur(0px);
					}
				}
			}
		}	
			.photo_block_desc{
				position: absolute;
				left: 0;
				top: 0;
				@include transition(all 0.5s);
				opacity: 0;
				width: 100%;
				height: 100%;
				background:rgba(0,0,0,0.4);
				text-align: center;
				color: #fff;
				z-index: 10;
				text-decoration: none;
				
				&:hover, &:active{
					color: #fff;
				}
				a{
					text-decoration: none;
				}
				h5{
					font-size: 37px;
				}
				p{
					font-family: $fontfamily;
					font-size: 17px;
					padding-bottom: 15px;
				}
				section{
					position:absolute;
				  	top: 30%;
				  	width: 100%;
				  	box-sizing: border-box;
				  	padding: 0 15px;
					//transform: translateY(-50%);
				}
			}

	.gallery{
		img{
			display: block;
			width: 100%;
			box-shadow: 0 3px 5px rgba(0,0,1,.17);
		}
		.col-xs-4, .col-sm-4{
			padding-left: 2px;
			padding-right: 2px;
		}
	}

	.content_txt{
		width: 867px;
		margin: 0 auto;
		color: #0c0c0c;
		font-family: $fontfamily;
		h1{
			text-align: center;
			font-family: $fontfamily;
			font-size: 54px;
			padding-bottom: 45px;
		}
		p{
			padding: 30px 0 0 0;
			line-height: 31px;
			font-size: 15px;
		}
	}
		.date{
			text-align: center;
			font-size: 16px;
			text-transform: uppercase;
			padding-bottom: 19px;
			font-family: $fontfamily;
		}
		.pager{
			@include povh('');
			padding:20px 0;
			margin-bottom: 42px;
			border-top: 1px solid #0c0c0c;
			border-bottom: 1px solid #0c0c0c;
			a{
				@extend .button;
			}
		}

		.form{
			padding: 45px 0 70px 0 ;
			input[type=submit]{
				@include button(button);
			}
			input{
					vertical-align: top;
					font-family: $fontfamily;
					&.kapha{
						width: 145px;
						
					}
			}
			textarea{
				width: 100%;
				height: 190px;
			}
			label{
			  vertical-align: top;
			  height: 64px;
			  box-sizing: border-box;
			  text-align: center;
			  line-height: 64px;
			  display: inline-block;
			  width: 120px;
			  color: #0c0c0c;
			  font-size: 18px;
			  font-weight: normal;
			  font-family: $fontfamily;
			  border: 1px solid #cecece;
			}
			&.button{
				font-family: $ffamily;
			}
		}
			.comment-notes{
				display: none;
			}
			.form_line{
				@include povh('');
				padding-bottom: 28px;
				font-size: 0;
				& > div{
					padding: 0 27px 0 0;
					display: inline-block;
					&:last-child{
						padding: 0;
					}
				}
				input{
					vertical-align: top;
					font-family: $fontfamily;
					&.kapha{
						width: 145px;
						
					}
				}
				textarea{
					width: 100%;
					height: 190px;
				}
				label{
				  vertical-align: top;
				  height: 64px;
				  box-sizing: border-box;
				  text-align: center;
				  line-height: 64px;
				  display: inline-block;
				  width: 120px;
				  color: #0c0c0c;
				  font-size: 18px;
				  font-weight: normal;
				  font-family: $fontfamily;
				  border: 1px solid #cecece;
				}
				&.button{
					font-family: $ffamily;
				}
			}

	.page_txt{
		color: #0c0c0c;
		font-family: $fontfamily;
		font-size: 15px;
		line-height: 27px;
		padding: 0 0 75px 0;
		h1{
			font-size: 42px;
			padding-bottom: 55px
		}
		p{
			padding-bottom: 15px;
		}
	}		
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	padding: 45px 0 55px 0 ;
	address{
		display: block;
		text-align: center;
		font-size: 14px;
		color: #000;
		font-style: normal;
		font-family: $fontfamily;
	}
 }
 	.social{
 		padding-bottom: 40px;
 		a{
 			display: inline-block;
 			width: 178px;
 			height: 41px;
 			line-height: 41px;
 			color: #4a4a4a;
 			margin: 0 10px;
 			margin-bottom: 20px;
 			text-decoration: none;
 			font-size: 18px;
 			background:url(../img/social.png) no-repeat center;
 		}
 	}
	.photo_block_desc{
		a{
			&:hover, &:active, &:focus{
				color: #fff;
			}
		}
	}

#sbi_load, .sbi_load{
	display: none;
	opacity: 0;
}
/*----------end footer----------*/


#email-notes{
	display: none;
}