// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1200px) {
	.head_top .nav a{
		padding: 0 21px;
	}

	
}

@include mq(900px, 1200px) {
  .photo_block{
		width: 100%;
	}
}


@include mq($max-width: 1000px) {
  .logo_big{
  	img{
  		width: 100%;
  		max-width: 100%;
  	}
  }

  	img{
		max-width: 100%;
		height: auto;
  	}

  	.head_top .nav a{
  		padding: 0;
  	}
  .photos_wrap{
  	.photo_block{
  		display: inline-block;
  	}
  }
  .gallery {
  	img{
  		width: 100%;
  	}
  }
  .social{
  	img{
  		max-width: 100%;
  	}
  }
  .content_txt{
  	width: 100%;
  	img{max-width: 100%;}
  }
  .form_line > div{
  	display: block;
  	padding: 0 0 20px 0;
  	input{
  		width: 100%;
  	}
  }
  .form_line > div:last-child{
  	text-align: center;
  }

  .photos_wrap{
  	.button{
  		width: 350px;
  		height: 87px;
  		font-size: 30px;
  		line-height: 67px
  	}
  }
	.logo{
		font-size: 24px;
	}
	
	.photos_col{
		column-count: 2;
	}
}

@include mq($max-width: 800px) {
	.head_top .navbar{
		margin-top: -37px;
	}
	.navbar-toggle .icon-bar{
		background:#fff;
	}
	.head_top{
		height: auto;
		.navbar-toggle{
			float: right;
		}
		.navbar-collapse{
			clear: both;
			width: 100%;
			text-align: center;
			border: none;
			box-shadow: none;
		}
	}
	.head_top .nav li{
		border: none;
		height: auto;
		.search{
			display: none;
		}
	}
	.navbar-nav .open .dropdown-menu>li>a{
		color: #fff;
	}
	.head_top .dropdown-menu{
		margin-top: 0 !important;
	}
	.show_mobile{
		display: block;
	}
	.search{
		padding: 12px 25px 0 0;
	}
	.head_top .dropdown-menu li{
		padding: 0;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a{
		padding: 5px 0;
		text-align: right;
		display: block;
	}
	.navbar-toggle{
		margin-right: 0;
	}
}

@include mq($max-width: 760px) {
	.photos_wrap{
	  	.photo_block{
	  		width: 100%;
	  		img{
	  			width: 100%;
	  		}
	  	}
	  }
	 .gallery{
	 	img{
	 		margin-bottom: 10px;
	 	}
	 }

	 .search input{
	 	width: 22px;
	 	float: right;
	 	@include transition(all 0.5s);
	 	&.active{
	 		width: 86px;
	 	}
	 }
	.header{
		padding-top: 130px;
		padding-bottom: 30px;
	}
	.content_txt h1, .content_txt h2, .page_txt h1{
		font-size: 24px;
	}

	.gallery{
		.row{
			margin-left: 0;
			margin-right: 0;
		}
	}

	.photos_wrap{
		.col-xs-6{
			width: 100%;
		}
	}

	.photos_wrap{
  	.button{
  		width: auto;
  		height: auto;
  		font-size: 20px;
  		line-height: 1.2
  	}
  	}

  	.photos_col{
		column-count: 1;
	}
	
	.photos_wrap .photo_block {
		/*margin-left:21px;
		
		width: calc(100% - 42px)*/
		
		padding-left:21px;
		padding-right:21px;
		
	}
	
	.photos_wrap .photo_block_about {
		padding-left:0px;
		padding-right:0px;
		margin-left:21px;					
		width: calc(100% - 42px);
		padding-left:21px;
		padding-right:21px;
	}
	.fixed_search_block{
		width: 100%;
		box-sizing: border-box;
		padding: 0 20px;
		margin-left: 0;
		left: 0;
	}

}

@include mq($max-width: 400px) {
	.logo{
		img{
			width: 110px;
		}
	}
	.search{
		padding-right: 9px;
	}
	.navbar{
		margin-bottom: 5px;
	}
	.button{
		font-size: 16px;
	}
}


@include mq($max-width: 768px) {
	
}